# Dynamic Programming

### When coins = [1,2,3]   Total Sum = 9

In [2]:
coins=[1,2,3]
n=9

In [3]:
def min_coins(n):
  if n<0:
    return float('inf')
  elif n==0:
    return 0
  else:
    return min(num_coins(n-1), num_coins(n-2), num_coins(n-3))+1

In [4]:
num_coins(9)

3

### When coins=[1,3,4,5] Total sum =20

In [5]:
def min_coins(n):
  if n<0:
    return float('inf')
  elif n==0:
    return 0
  else:
    return min(num_coins(n-1), num_coins(n-3), num_coins(n-4), num_coins(n-5))+1

In [6]:
coins=[1,3,4,5]
num_coins(20)

4

### When coins=[1,3,6] Total sum =55

In [7]:
def min_coins(n):
  if n<0:
    return float('inf')
  elif n==0:
    return 0
  else:
    return min(num_coins(n-1), num_coins(n-3), num_coins(n-6))+1

In [12]:
coins=[1,3,6]
num_coins(55)

10